@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #E6D8C3;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    min-width: 60vh;
}

form {
    margin: 2rem 0 1rem 0;
}

form select, button, input {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid grey;
    font-size: 1rem;
    height: 2.5rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img {
    max-width: 2rem;
}

.select-container {
    display: flex;
    border: 1px solid lightgrey;
    width: 6rem;
    justify-content: center;
    align-content: center;
    border-radius: 0.5rem;
}

.select-container select {
    font-size: 1rem;
    width: auto;
}

.msg {
    margin: 2rem 0 2rem 0;
    text-align: center;
    font-weight: bold;
}

form button {
    height: 3rem;
    background-color: #234C6A;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

.copyright {
    text-align: end;
    margin-top: 2rem;
    font-family: "Winky Rough", sans-serif;
    font-weight: 500;
}




@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
}